<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Anton|Ubuntu|Abel|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/ff45912291.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <style>
        body,html
        {
            height:100%;
        }
        nav
        {
            background-color: white;
        }   
        .flash11 + .flash12 + .flash13 + .flash14 + .flash15{
            transition:all ease-out 0.1s;
            cursor:pointer;
        }
        .flash21 + .flash22 + .flash23 + .flash24 + .flash25{
            transition:all ease-out 0.1s;
            cursor:pointer;
        }
        .flash31 + .flash32 + .flash33 + .flash34 + .flash35{
            transition:all ease-out 0.1s;
            cursor:pointer;
        }
        .flash41 + .flash42 + .flash43 + .flash44 + .flash45{
            transition:all ease-out 0.1s;
            cursor:pointer;
        }
        .innovation{
            display:none;
        }
        .material-icons{
            cursor:pointer;
        }
    
    </style>
  <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo" style="color:#dd4b39; font-weight:strong;">GlueSpark</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="homepage.html" class="orange-text">Home</a></li>
                    <li  style="list-style-type:none;"><a  href="#" class="orange-text dropdown-button  items" data-constrainWidth="false" data-hover="true" data-beloworigin="true" data-activates="dropdown1" data-alignment="right">Companies</a></li>
                    <li><a href="#" class="orange-text">LogOut</a></li>
                </ul>
            </div>
        </nav>
        <ul id="dropdown1" class="dropdown-content text-center" style="width:20%;">
                <li class="text-center"><a href="#!">SabStore</a></li>
                <li class="text-center"><a href="#!">RealTaste</a></li>
                <li class="text-center"><a href="#">Goofy</a></li>  
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="sass.html">Home</a></li>
                <li><a href="badges.html">Companies</a></li>
                <li><a  class=" items modal-trigger" href="#modal1">LogIn</a></li>
                <li><a class=" items modal-trigger" href="#modal2">SignUp</a></li>
            </ul>
            <div style="padding-top:20px; padding-bottom:20px; background: rgba(220,220,220,0.5);">
            <center><h3 style="color:crimson; font-weight: bold; ">Rate SabStore &amp; earn cashbacks dicount coupons</h3></center>
            </div>   
            <div class="row">
                    <hr>
                <div class="col-md-9" style="background-image: url('images/doodle2.jpg'); min-height:100vh; padding-top:80px;">
                    <center>
                        <form>
                       
                    <div class="col-md-7" style="justify-content:center; background:rgba(255,255,255,0.5); align-content:center;  " >
                    <h5>Rate Customer service</h5>
                    <i class="material-icons   small" value=1>flash_on</i> <i class="material-icons  small">flash_on</i> <i class="material-icons small">flash_on</i>  <i class="material-icons small">flash_on</i> <i class="material-icons small">flash_on</i>
                    <h5>Product Quality</h5>
                    <i class="material-icons small">flash_on</i> <i class="material-icons small">flash_on</i> <i class="material-icons  small">flash_on</i>  <i class="material-icons small ">flash_on</i> <i class="material-icons small">flash_on</i>
                    <h5>Delivery Time</h5>
                    <i class="material-icons small">flash_on</i> <i class="material-icons small">flash_on</i> <i class="material-icons small">flash_on</i>  <i class="material-icons small ">flash_on</i> <i class="material-icons small ">flash_on</i>
                    <h5>App &amp; Website</h5>
                    <i class="material-icons  small">flash_on</i> <i class="material-icons  small">flash_on</i> <i class="material-icons  small">flash_on</i>  <i class="material-icons small ">flash_on</i> <i class="material-icons small ">flash_on</i>
                    
                    <label class="control-label " for="" style=" color:#464646; font-family: 'Roboto', sans-serif; font-size: 20px;">Any Innovative/new product you want to share with us?</label>  
                    <input class="with-gap" name="group1" type="radio" id="yes"><label for="yes">Yes</label>     <input class="with-gap" name="group1" type="radio" id="no"  ><label for="no">No</label>     
                    <div class="innovation">
                            <div class="row">
                                    <div class="col s12">
                                      <div class="row">
                                            <label for="textarea1" style="color:#464646; font-size:20px;">Share with us</label>
                                        <div class="input-field col-md-12">
                                          <textarea id="textarea1" class="materialize-textarea"></textarea>
                                          
                                        </div>
                                      </div>
                                    </div>
                                  </div>                             
                    </div>
                    <br>
                    <button type="submit" class="btn waves-effect waves-light">Submit</button>
                    <br>
                    </form>   
                </center>
                <br>
                </div>
                <div class="col-md-3" style="border-left:2px solid black; padding-top:20px;" >
                    <img src="images/sublogo.png">
                    <h5>Yhan Sab Kuch Milta hai</h5>
                    <h5>Sabstore is an online delivery platform in LPU</h5>
                </div>
            </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
          
            $("#yes").click(function(){
                $(".innovation").show();
            });
            $("#no").click(function(){
                $(".innovation").hide();
            });
  
        });
    </script>        
</body>
</html>